img {
    height: 150px;
    width: 150px;
    /* margin: 15px 30px 10px 15px; */
    /* display: flex; */
    flex-direction: column;
    display: block;
    margin-right: 65px
    /* margin: 0 auto; */
}
/* #shrink {

    margin: auto;
} */

#border {
    border: 4px double blue;
    /* margin: 5px; */


}
show-grid.row {
    margin:  0 auto;
}

div {
    padding: 0 0 3px 0;
    /* margin: 0 auto; */
}
.col-md-3 {
    margin: 0 auto;
}
#centerit {
    /* margin: 0 auto */
}